<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppLogin" value="66cb7463de00"/>
    <add key="Password" value="d0d90aded5e88ec0"/>
    <add key="CallFireRestRoute" value="https://www.callfire.com/api/1.1/rest/"/>
    <add key="CallFireSoapRoute" value="https://www.callfire.com/api/1.1/soap12"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
