<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AppLogin" value="8e507eb6c5a5"/>
    <add key="Password" value="4f3a023d47e9d6bb"/>
    <add key="CallFireRestRoute" value="https://www.callfire.com/api/1.1/rest/"/>
    <add key="CallFireSoapRoute" value="https://www.callfire.com/api/1.1/soap12"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
