<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BroadcastServiceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="SubscriptionServiceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="TextServiceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="CallServiceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="ContactServiceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="NumberServiceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="LabelServiceBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.callfire.com/api/1.1/soap12/broadcast"
                binding="customBinding" bindingConfiguration="BroadcastServiceBinding"
                contract="API.Soap.BroadcastServicePortType" name="BroadcastServicePort" />
            <endpoint address="https://www.callfire.com/api/1.1/soap12/subscription"
                binding="customBinding" bindingConfiguration="SubscriptionServiceBinding"
                contract="API.Soap.SubscriptionServicePortType" name="SubscriptionServicePort" />
            <endpoint address="https://www.callfire.com/api/1.1/soap12/text"
                binding="customBinding" bindingConfiguration="TextServiceBinding"
                contract="API.Soap.TextServicePortType" name="TextServicePort" />
            <endpoint address="https://www.callfire.com/api/1.1/soap12/call"
                binding="customBinding" bindingConfiguration="CallServiceBinding"
                contract="API.Soap.CallServicePortType" name="CallServicePort" />
            <endpoint address="https://www.callfire.com/api/1.1/soap12/contact"
                binding="customBinding" bindingConfiguration="ContactServiceBinding"
                contract="API.Soap.ContactServicePortType" name="ContactServicePort" />
            <endpoint address="https://www.callfire.com/api/1.1/soap12/number"
                binding="customBinding" bindingConfiguration="NumberServiceBinding"
                contract="API.Soap.NumberServicePortType" name="NumberServicePort" />
            <endpoint address="https://www.callfire.com/api/1.1/soap12/label"
                binding="customBinding" bindingConfiguration="LabelServiceBinding"
                contract="API.Soap.LabelServicePortType" name="LabelServicePort" />
        </client>
    </system.serviceModel>
</configuration>